@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    background-color: #f9fafb;
    color: #111827;
  }

  #root {
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
  }
}
